li {
	float:left;
}

label {
	margin:0px;
}

h2{
	margin-bottom: 3px;
}

#tweet-container{
	height: 800px;
}

#docs{
	background-color: white;
	border: groove;
	overflow-x: auto;
	height: 95%;
	padding: 10px;
	font-size: 15px;
}

#one-tweet{
	height: 150px;
	border-color: lightgrey;
	border-style: solid;
	border-radius: 3px;
	background: white;
}

#orange{
	position: relative;
	height:700px;
}

#search-again {
	position: relative;
	bottom: -350px;
	right:70px;
	width: 500px;
	height:50px;
}

#filter-title{
	font-size: 35px;
	margin: 25px auto 20px 50px;
}

#filter-terms{
	font-size: 30px;
	margin-left: 80px;
}

#last-search-terms {
	height: 400px;
}

#popular-search-terms {
	height: 300px;
}

.vorschlag{
	height:300px;
}

.my-jumbotron{
	border-color: grey;
	border-style: solid;
	border-width: 3px;
	margin-left: 2px;
	border-radius: 5px;
	padding:15px;
	height:800px;
}

.main-container{
	margin-left: 8%;
}

.search-button {
	margin-left: 10px;
}


.navbar-brand {
	margin-left: 430px;
	margin-right: 100px;
}

.text-large {
	font-size: 30px;
}

.profile-picture {
	height: 40px;
	width: 40px;
	float: left;
	margin-right: 10px;
}
