li.nav-tabs {
	float: left;
}

body {
	background-color: #FBFBFC;
}

#autocomplete {
	position: absolute;
	background-color: white;
	width: 170px;
	border: solid;
	border-radius: 5px;
	border-width: 1px;
	border-color: grey;
	z-index: 1;
}

#autocomplete ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	margin-left: 5px;
	padding-left: 5px;
}

.ui-helper-hidden-accessible {
	visibility: hidden;
}

.detail-content {
	display: block;
}

.detail-user {
	display: block;
	position: absolute;
	margin-top: 100px;
}

.left-sidebar li {
	font-size: 16px;
	line-height: 1.5;
}

.left-sidebar {
	font-size: 20px;
	line-height: 2;
	width: 250px;
}

.left-sidebar h4 {
	margin-top: 5px;
	margin-left: 3px;
}

label {
	margin:0px;
}

h2{
	margin-bottom: 3px;
}

.one-fav-punkt{
	clear:both;
}

.modal-body,.modal-tweet{
	clear: both;
}

.modal-body {
	height: 250px;
	overflow-y: auto;
}

.name-container {
	font-size: 16px;
}

.avatar{
	padding: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 5px;
}

.text-container{
	font-size: 16px;
	line-height: 19px;
	margin-bottom: 10px;
}

.tweet-date, .tweet-time {
	font-size: 14px;
	color: #BBB;
}

.terms{
	padding:10px;
}

#options {
	width: 500px;
}

.one-tweet, .term-box{
	border-color: lightgrey;
	border-style: solid;
	border-width: 2px;
	border-radius: 3px;
	background: white;
	padding: 5px;
	float:left;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}

.btn:hover {
	background-color:#33ccff;
}

.btn {
	background-color:#5BC0DE;
}

.date-box {
	background-color: white;
	border-style: solid;
	border-color: grey;
}

.more-info {
	font-style: italic;
	font-weight: bold;
}

.term-box:active {
	background-color:#EEE;
	background-color:#33ccff;
}

.addFav-button {
	position: relative;
	float:right;
	width: 50px;
	height:40px;
	line-height: normal;
	vertical-align: middle;
	margin-bottom: 5px
}

.info-button {
	position: relative;
	float:right;
	width: 50px;
	height:40px;
	line-height: normal;
	vertical-align: middle;
	margin-bottom: 5px
}

.previous-search-term{
	color: black;
	margin: 5px;
	cursor: pointer;
}

.tweets-container {
	border-radius: 10px;
	overflow: hidden;
	height: 95%;
	padding: 5px;
	width: 500px;
	font-size: 15px;
}

.tweets-container:hover {
	overflow-y: scroll;
}

.previous-search-term:hover{
	background: lightgrey;
}

#button-show-right{
	width: 15px;
	background-color: lightgrey;
	position: absolute;
	right: 0px;
}

#button-show-right:hover{
	background:#33ccff;
}

#arrow-show-right{
	height: 760px;
	padding-top:350px;
	width: 15px;
}

.row {
	margin-right: 0px;
}

#tweet-container{
	height: 800px;
}

#verlauf-container{
	height: 700px;
}

#orange{
	position: relative;
	height:700px;
}

#fav-container {
	margin-top: 10px;
	height: 900px;
}

#prev-container {
	margin-top: 10px;
	height: 900px;
}

.search-again {
	position: absolute;
	height:50px;
	bottom: 0px;
	left:0px;
	margin: auto;
}

#filter-title, #filter-title2{
	font-size: 35px;
	margin: 25px auto 20px 50px;
}

#filter-terms{
	font-size: 15px;
	margin-left: 20px;
	margin-right: 20px;
}

#last-search-terms-container {
	height: 400px;
	overflow-x:auto;
}

#popular-search-terms {
	height: 300px;
}

.vorschlag{
	height:300px;
	font-size: 15px;
	width: 160px;
}

.my-jumbotron{
	border-color: grey;
	border-style: solid;
	border-width: 3px;
	margin-left: 2px;
	border-radius: 5px;
	padding:3px;
	height:800px;
}

.content-container {
	width:500px;
}

.tab-pane h3 {
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 10px;
}

.vorschlag h3 {
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 10px;
}

.main-container{
     width: 1300px;
     margin: 0 auto;
}

.search-button {
	margin-left: 10px;
}

.navbar-brand {
	margin-left: 430px;
	margin-right: 100px;
}

.text-large {
	font-size: 30px;
}

.profile-picture {
	height: 40px;
	width: 40px;
	float: left;
	margin-right: 10px;
}