li.nav-tabs {
	float: left;
}

body.ui-autocomplete {
  background-color: white;
  width: 100px;
  border: solid;
  border-width: 1px;
  border-color: grey;
}

label {
	margin:0px;
}

h2{
	margin-bottom: 3px;
}

.one-fav-punkt{
	clear:both;
}

.modal-body,.modal-tweet{
	clear:both;
}

.name-container {
	font-size: 16px;
}

.avatar{
	padding: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 5px;
}

.text-container{
	font-size: 16px;
	line-height: 19px;
}

.tweet-date, .tweet-time {
	font-size: 14px;
	color: #BBB;
}

.terms{
	padding:10px;
}

.one-tweet, .term-box{
	border-color: lightgrey;
	border-style: solid;
	border-width: 2px;
	border-radius: 3px;
	background: white;
	float:left;
}

.one-tweet:hover ,.term-box:hover {
	background-color:#F5F5F5;
}

.one-tweet:active, .term-box:active {
	background-color:#EEE;
}

.addFav-button{
	position: relative;
	float:right;
	width: 50px;
	height:40px;
	line-height: normal;
	vertical-align: middle;
	margin-bottom: 5px
}

.previous-search-term{
	color: black;
    margin: 5px;
    cursor: pointer;
}

.previous-search-term:hover{
	background: lightgrey;
}

#button-show-right{
	height: 760px;
	padding-top:350px;
}

#tweet-container{
	height: 800px;
}

#verlauf-container{
	height: 700px;
}

#fav-container{
	height: 700px;
}

#docs, #verlauf, #fav{
	background-color: white;
	border: groove;
	overflow-x: auto;
	height: 95%;
	padding: 5px;
	font-size: 15px;
}

#orange{
	position: relative;
	height:700px;
}

#search-again {
	position: relative;
	height:50px;
}

#filter-title, #filter-title2{
	font-size: 35px;
	margin: 25px auto 20px 50px;
}

#filter-terms{
	font-size: 30px;
	margin-left: 80px;
}

#last-search-terms-container {
	height: 400px;
	overflow-x:auto;
}

#popular-search-terms {
	height: 300px;
}

.vorschlag{
	height:300px;
}

.my-jumbotron{
	border-color: grey;
	border-style: solid;
	border-width: 3px;
	margin-left: 2px;
	border-radius: 5px;
	padding:3px;
	height:800px;
}

.main-container{
	margin-left: 8%;
}

.search-button {
	margin-left: 10px;
}


.navbar-brand {
	margin-left: 430px;
	margin-right: 100px;
}

.text-large {
	font-size: 30px;
}

.profile-picture {
	height: 40px;
	width: 40px;
	float: left;
	margin-right: 10px;
}
